.main {
    display: flex;
    flex-direction: row;
}

.caracteristicasDiv {
    width: 50vw;
    display: flex;
    line-height: 0.7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caracteristicaDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloCaracteristica {
    font-size: 1rem;
}

.textoCaracteristica {
    font-size: 1em;
}

.graficosDiv {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
}

#descartarBtn {
    background-color: #FF0000;
}

#descartarBtn:hover {
    background-color: #6d0505;
}

#btnsDiv {
    display: inline-block;
    padding: 10px;
    margin:1em;
}

.imagemGraficos {
    height: 100%;
    width: 100%;
    object-fit: contain;
}